*,
body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.siteheader {
    height: 60px;
    margin-bottom: 20px;
}



.container-2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    background-image: url(./WebsiteImages/basketballsonground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    height: 40px;
    width: 30px;
}

.image_card {
    background-color: white;
    margin: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    padding: 10px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card {
    height: 50vh;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.card-btn {
    padding: 10px 10px;
    background-color: black;
    border-radius: 15px;
    transition: all .9s ease-in-out;
    color: white;
    width: 2px 8px;
    margin: 1px 60px 1px 60px;
    margin-top: auto;
    bottom: 2px;
}

.card-btn:hover {
    background-color: goldenrod;
    color: black;

}


.companyLogo {
    padding-left: 15px;
}


.logo-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}

.navbar-ulList ul {
    display: flex;
    flex-wrap: wrap;
}



.navbar-ulList li {
    margin-right: 10px;
    border-radius: 60%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif, 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;

}


.navbar-ulList li:hover {
    background-image: url(./WebsiteImages/bballcourt.jpg);


}


.main_title {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    margin-top: 45px;
}

.navbar-ulList li a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.shoes {
    max-width: 200px;
    height: 110px;
    margin-bottom: 2px;
}


.sneaker_section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    align-content: center;

}

.sneaker_section div {
    flex-basis: 1px;

}


h2 {
    margin-bottom: 30px;
    padding-right: 4px;
    text-align: center;
    font-size: 16px;
}


.SeanKempDunk {
    background-image: url(./WebsiteImages/seankempdunk.jpg);

}

.SeanKempDunk2 {
    background-image: url(./WebsiteImages/seankempdunk2.jpg);
}


.MichaelJordanStance {
    background-image: url(./WebsiteImages/michaelpic1.jpg);
}

.MichaelJordanStance2 {
    background-image: url(./WebsiteImages/michaeljordandunk2.jpg);
}

.SirCharlesBarkley {
    background-image: url(./WebsiteImages/charlesbarkleypic2.jpg);
}

.SirCharlesBarkley2 {
    background-image: url(./WebsiteImages/charlesbarkleydribbling.jpg);
}



.Penny1 {
    background-image: url(./WebsiteImages/penny1.jpg);
}

.Penny2 {
    background-image: url(./WebsiteImages/penny2.jpg);

}

.KobeBryant-1 {
    background-image: url(./WebsiteImages/kobepose.jpg);
}

.KobeBryant-2 {
    background-image: url(./WebsiteImages/kobepic2.jpg);
}


.image_card p,
h2,
a {
    padding: 10px;
    text-align: center;
    display: block;
}


.image_card:hover {
    /*hover notworking for some reason, worked when I deleted my borders*/
    cursor: pointer;
    transition: all .05s ease 0s;
    transform: scale(1.03);
}


.move-left {
    position: absolute;
    padding: 4px;
    margin-left: 5px;
    border-radius: 30%;
    left: 10px;
    top: 40%;
    font-size: 16px;
    cursor: pointer;

}

.move-right {
    position: absolute;
    padding: 4px;
    top: 40%;
    margin-right: 5px;
    right: 10px;
    font-size: 16px;
    border-radius: 30%;
    cursor: pointer;
}

.move-green {
    background-color: green;
}

.move-red {
    background-color: red;
}

.move-orange {
    background-color: orangered;
}

.move-blue {
    background-color: blue;
}

.move-purple {
    background-color: purple;
}

.footer {
    position: fixed;
    bottom: 0;
    background-image: url(./WebsiteImages/bballcourt.jpg);
    width: 100%;
    text-align: center;
    border-top: 2px solid black;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;

}

.toggle_button {
    /*hamburgertoggle postioning*/
    position: absolute;
    right: 2px;
    top: 12px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 41px;
}


.toggle_button .bar {
    /*hamburgertoggle bar style*/
    height: 3px;
    width: 20px;
    background-color: black;
    border-radius: 10px;
}

p {
    font-size: 20px;
    font-weight: 500;
}






@media only screen and (max-width: 600px) {
    .navbar-ulList {
        transform: translateY(-100%);

    }

    body {
        padding-bottom: 100px;
    }

    .toggle_button .bar:hover {
        cursor: pointer;
        background-image: url(./WebsiteImages/bballcourt.jpg);
    }


    .navbar-hide {
        transform: translateY(0%);
        transition: all .2s;

    }

    .toggle_button {
        /*hamburgertoggle postioning*/
        display: flex;

    }

    .navbar-ulList ul {
        /*changes navlinks to column and center*/
        flex-direction: column;
        align-items: center;
        display: flex;

    }


    .nikeLogo {
        display: none;
    }

    .jordanLogo {
        display: none;
    }

    .reebokLogo {
        display: none;
    }

    .adidasLogo {
        display: none;
    }


    .container-2 {
        display: none;
    }

    .sneakerLogo {
        height: 30px;
        position: absolute;
        top: 15px;
        height: 40px;
        width: 30px;
    }




    .shoes {
        width: 100px;
        height: 82px;
    }

}